{% if not isPartial %}
{% extends "picker.njk" %}

{% block header %}
    <h2>Artists</h2>
{% endblock %}

{% block content %}
    <ul class="picker-list">
        {% for artist in artists %}
            {% if loop.last and hasMore %}
            <li hx-get="/artists?offset={{ nextOffset }}" hx-trigger="revealed" hx-swap="afterend">
            {% else %}
            <li hx-get="/artist/{{ artist.id }}" hx-target="closest .picker-widget" hx-swap="outerHTML">
            {% endif %}
                <div class="picker-list-info">
                    <div class="picker-list-title">{{ artist.name }}</div>
                </div>
                <div style="color: #ccc; font-size: 0.8rem;">&rsaquo;</div>
            </li>
        {% else %}
            <li style="padding: 1rem; color: #666;">No artists found.</li>
        {% endfor %}
    </ul>
{% endblock %}
{% else %}
    {% for artist in artists %}
        {% if loop.last and hasMore %}
        <li hx-get="/artists?offset={{ nextOffset }}" hx-trigger="revealed" hx-swap="afterend">
        {% else %}
        <li hx-get="/artist/{{ artist.id }}" hx-target="closest .picker-widget" hx-swap="outerHTML">
        {% endif %}
            <div class="picker-list-info">
                <div class="picker-list-title">{{ artist.name }}</div>
            </div>
            <div style="color: #ccc; font-size: 0.8rem;">&rsaquo;</div>
        </li>
    {% endfor %}
{% endif %}
