<div class="picker-widget">
    <div class="picker-header">
        {% block header %}{% endblock %}
    </div>
    <div class="picker-content" {% block content_attrs %}{% endblock %}>
        {% block content %}{% endblock %}
    </div>
</div>
