{% extends "layout.njk" %}

{% block content %}
<div id="run-detail-wrapper" hx-get="/run/{{ run.id }}/detail-fragment" hx-trigger="runStatusFinalized from:body" hx-swap="innerHTML">
    {% include "_run-detail.njk" %}
</div>
{% endblock %}
